# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# C extensions
*.so
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/_build/
docs/source/reference

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# virtualenv
.venv/
venv/
ENV/

# PyCharm files
.idea

# Generics
not-included/