# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/


# C extensions
*.so
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/build/
docs/source/reference

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# virtualenv
.venv/
venv/
ENV/

# PyCharm files
.idea

# Generics
not-included/
dist/
build/

# Testing related
.coverage
coverage.xml

# Spyder project settings
.spyderproject
.spyproject


# Pylint
.pylint.d/
