# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
not-included/
*.egg-info/
.installed.cfg
*.egg

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/source/reference

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
.venv/
venv/
ENV/

# PyCharm files
.idea